<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>LabMem</servlet-name>
    <servlet-class>servlet.LabMem</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManageGroup</servlet-name>
    <servlet-class>servlet.ManageGroup</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MoveMemOut</servlet-name>
    <servlet-class>servlet.MoveMemOut</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MoveMemIn</servlet-name>
    <servlet-class>servlet.MoveMemIn</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMem</servlet-name>
    <servlet-class>servlet.AddMem</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>servlet.AddProject</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MoveProjectMemOut</servlet-name>
    <servlet-class>servlet.MoveProjectMemOut</servlet-class>
  </servlet>
  
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeGU</servlet-name>
    <servlet-class>servlet.ChangeGU</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelGro</servlet-name>
    <servlet-class>servlet.DelGro</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewGro</servlet-name>
    <servlet-class>servlet.NewGro</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelInfo</servlet-name>
    <servlet-class>servlet.DelInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewInfo</servlet-name>
    <servlet-class>servlet.NewInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteResource</servlet-name>
    <servlet-class>servlet.DeleteResource</servlet-class>
  </servlet>

 <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>servlet.AddUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelUser</servlet-name>
    <servlet-class>servlet.DelUser</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>LabMem</servlet-name>
    <url-pattern>/servlet/LabMem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageGroup</servlet-name>
    <url-pattern>/servlet/ManageGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoveMemOut</servlet-name>
    <url-pattern>/servlet/MoveMemOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoveMemIn</servlet-name>
    <url-pattern>/servlet/MoveMemIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMem</servlet-name>
    <url-pattern>/servlet/AddMem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/servlet/AddProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoveProjectMemOut</servlet-name>
    <url-pattern>/servlet/MoveProjectMemOut</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ChangeGU</servlet-name>
    <url-pattern>/servlet/ChangeGU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelGro</servlet-name>
    <url-pattern>/servlet/DelGro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewGro</servlet-name>
    <url-pattern>/servlet/NewGro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelInfo</servlet-name>
    <url-pattern>/servlet/DelInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewInfo</servlet-name>
    <url-pattern>/servlet/NewInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteResource</servlet-name>
    <url-pattern>/servlet/DeleteResource</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/servlet/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelUser</servlet-name>
    <url-pattern>/servlet/DelUser</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
